SMTP_HOST="mail.example.com"
SMTP_PORT="587"
SMTP_USERNAME="givevc-ocpp"
SMTP_PASSWORD="replace-with-smtp-password"
SMTP_FROM="GivEVC-OCPP <noreply@example.com>"
SMTP_TLS="true"

PUBLIC_WEB_BASE_URL="https://givevc.example.com"
PUBLIC_OCPP_BASE_URL="wss://evc.ocpp.example.com"
PUBLIC_FIRMWARE_HOST="updates.ocpp.example.com"
PUBLIC_FIRMWARE_PORT="9688"
